@import "../../variables";
header,
main,
footer {
  padding-left: 300px;
  background: rgb(217, 198, 219);
}
@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
