@import "../../variables";

.contenedor-login-form {
  width: 50%;
  background: rgb(255, 255, 255);
  border-radius: 2rem;
  //===
  img {
    width: 20%;
    padding: 1rem;
  }
  //===
  .titulo-login {
    font-size: 2rem;
  }
  .subtitulo-login {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  //===
  .boton-login {
    margin: 1.5rem;
    button {
      text-transform: capitalize;
      font-size: 1rem;
      width: 100%;
    }
  }
  //===
}
